@font-face {
    font-family: 'geometriabold_italic';
    src: url("~@/assets/fonts/Geometria/geometria-bolditalic-webfont.eot");
    src: url("~@/assets/fonts/Geometria/geometria-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),url("~@/assets/fonts/Geometria/geometria-bolditalic-webfont.woff") format("woff"),url("~@/assets/fonts/Geometria/geometria-bolditalic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'geometriaregular';
    src: url("~@/assets/fonts/Geometria/geometria-webfont.eot");
    src: url("~@/assets/fonts/Geometria/geometria-webfont.eot?#iefix") format("embedded-opentype"),url("~@/assets/fonts/Geometria/geometria-webfont.woff") format("woff"),url("~@/assets/fonts/Geometria/geometria-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'geometriabold';
    src: url("~@/assets/fonts/Geometria/geometria-bold-webfont.eot");
    src: url("~@/assets/fonts/Geometria/geometria-bold-webfont.eot?#iefix") format("embedded-opentype"),url("~@/assets/fonts/Geometria/geometria-bold-webfont.woff") format("woff"),url("~@/assets/fonts/Geometria/geometria-bold-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'geometriaextrabold_italic';
    src: url("~@/assets/fonts/Geometria/geometria-extrablackitalic-webfont.eot");
    src: url("~@/assets/fonts/Geometria/geometria-extrablackitalic-webfont.eot?#iefix") format("embedded-opentype"),url("~@/assets/fonts/Geometria/geometria-extrablackitalic-webfont.woff") format("woff"),url("~@/assets/fonts/Geometria/geometria-extrablackitalic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'geometriaextralight';
    src: url("~@/assets/fonts/Geometria/geometria-extralight-webfont.eot");
    src: url("~@/assets/fonts/Geometria/geometria-extralight-webfont.eot?#iefix") format("embedded-opentype"),url("~@/assets/fonts/Geometria/geometria-extralight-webfont.woff") format("woff"),url("~@/assets/fonts/Geometria/geometria-extralight-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'geometriaextrabold';
    src: url("~@/assets/fonts/Geometria/geometria-extablack-webfont.eot");
    src: url("~@/assets/fonts/Geometria/geometria-extablack-webfont.eot?#iefix") format("embedded-opentype"),url("~@/assets/fonts/Geometria/geometria-extablack-webfont.woff") format("woff"),url("~@/assets/fonts/Geometria/geometria-extablack-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'geometriaheavy';
    src: url("~@/assets/fonts/Geometria/geometria-heavy-webfont.eot");
    src: url("~@/assets/fonts/Geometria/geometria-heavy-webfont.eot?#iefix") format("embedded-opentype"),url("~@/assets/fonts/Geometria/geometria-heavy-webfont.woff") format("woff"),url("~@/assets/fonts/Geometria/geometria-heavy-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'geometriaheavy_italic';
    src: url("~@/assets/fonts/Geometria/geometria-heavyitalic-webfont.eot");
    src: url("~@/assets/fonts/Geometria/geometria-heavyitalic-webfont.eot?#iefix") format("embedded-opentype"),url("~@/assets/fonts/Geometria/geometria-heavyitalic-webfont.woff") format("woff"),url("~@/assets/fonts/Geometria/geometria-heavyitalic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'geometriaextralight_italic';
    src: url("~@/assets/fonts/Geometria/geometria-extralightitalic-webfont.eot");
    src: url("~@/assets/fonts/Geometria/geometria-extralightitalic-webfont.eot?#iefix") format("embedded-opentype"),url("~@/assets/fonts/Geometria/geometria-extralightitalic-webfont.woff") format("woff"),url("~@/assets/fonts/Geometria/geometria-extralightitalic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'geometrialight_italic';
    src: url("~@/assets/fonts/Geometria/geometria-lightitalic-webfont.eot");
    src: url("~@/assets/fonts/Geometria/geometria-lightitalic-webfont.eot?#iefix") format("embedded-opentype"),url("~@/assets/fonts/Geometria/geometria-lightitalic-webfont.woff") format("woff"),url("~@/assets/fonts/Geometria/geometria-lightitalic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'geometrialight';
    src: url("~@/assets/fonts/Geometria/geometria-light-webfont.eot");
    src: url("~@/assets/fonts/Geometria/geometria-light-webfont.eot?#iefix") format("embedded-opentype"),url("~@/assets/fonts/Geometria/geometria-light-webfont.woff") format("woff"),url("~@/assets/fonts/Geometria/geometria-light-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'geometriaitalic';
    src: url("~@/assets/fonts/Geometria/geometria-italic-webfont.eot");
    src: url("~@/assets/fonts/Geometria/geometria-italic-webfont.eot?#iefix") format("embedded-opentype"),url("~@/assets/fonts/Geometria/geometria-italic-webfont.woff") format("woff"),url("~@/assets/fonts/Geometria/geometria-italic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'geometriathin';
    src: url("~@/assets/fonts/Geometria/geometria-thin-webfont.eot");
    src: url("~@/assets/fonts/Geometria/geometria-thin-webfont.eot?#iefix") format("embedded-opentype"),url("~@/assets/fonts/Geometria/geometria-thin-webfont.woff") format("woff"),url("~@/assets/fonts/Geometria/geometria-thin-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'geometriamedium_italic';
    src: url("~@/assets/fonts/Geometria/geometria-mediumitalic-webfont.eot");
    src: url("~@/assets/fonts/Geometria/geometria-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"),url("~@/assets/fonts/Geometria/geometria-mediumitalic-webfont.woff") format("woff"),url("~@/assets/fonts/Geometria/geometria-mediumitalic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'geometriamedium';
    src: url("~@/assets/fonts/Geometria/geometria-medium-webfont.eot");
    src: url("~@/assets/fonts/Geometria/geometria-medium-webfont.eot?#iefix") format("embedded-opentype"),url("~@/assets/fonts/Geometria/geometria-medium-webfont.woff") format("woff"),url("~@/assets/fonts/Geometria/geometria-medium-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'geometriathin_italic';
    src: url("~@/assets/fonts/Geometria/geometria-thinitalic-webfont.eot");
    src: url("~@/assets/fonts/Geometria/geometria-thinitalic-webfont.eot?#iefix") format("embedded-opentype"),url("~@/assets/fonts/Geometria/geometria-thinitalic-webfont.woff") format("woff"),url("~@/assets/fonts/Geometria/geometria-thinitalic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'GothamPro_medium';
    font-weight: normal;
    font-style: normal;
    src: url("~@/assets/fonts/GothamPro/GothamProMedium.eot");
    src: url("~@/assets/fonts/GothamPro/GothamProMedium.eot") format("embedded-opentype"),url("~@/assets/fonts/GothamPro/GothamProMedium.ttf") format("woff2"),url("~@/assets/fonts/GothamPro/GothamProMedium.woff") format("woff"),url("~@/assets/fonts/GothamPro/GothamProMedium.ttf") format("truetype")
}

@font-face {
    font-family: 'GothamPro_regular';
    font-weight: normal;
    font-style: normal;
    src: url("~@/assets/fonts/GothamPro/GothamProRegular.eot");
    src: url("~@/assets/fonts/GothamPro/GothamProRegular.eot") format("embedded-opentype"),url("~@/assets/fonts/GothamPro/GothamProRegular.ttf") format("woff2"),url("~@/assets/fonts/GothamPro/GothamProRegular.eot") format("woff"),url("~@/assets/fonts/GothamPro/GothamProRegular.ttf") format("truetype")
}